@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chat.css";
@import "screens/find.css";
@import "screens/more.css";


body{
	font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin: 0;
    color: var(--black);
}

.main-screen {
    padding: var(--horizontal-space);
}