.screen-header__icons {
    position: relative;
}

.find__dot{
    position: absolute;
    top: -7px;
    right: -5px;

}


.recommended-friends {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 15px 0px;
    color: var(--semi-gray);
    font-weight: 500;
    margin: 15px 0px;
}

.recommended-friends__title {
    font-size: 14px;
}

.recommended-friends span{
    display: block;
    margin: 90px 0px;
    text-align: center;
    font-size: 17px;

}

.open-chat__header {
    color: var(--semi-gray);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 18px;
}

.open-chat__header span {
    opacity: 0.7;
    font-weight: 400;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--main-border);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.open-post__column:first-child {
    display: flex;
    flex-direction: column;
}

.open-post__title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;

}
.open-post__hashtags {
    color: var(--semi-gray);
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 15px;
    margin-bottom: 8px;
}
.open-post__members{
    display: flex;
    align-items: center;
    color: var(--semi-gray);
    font-weight: 400;
    font-size: 14px;
}


.open-post__members img {
    width: 22px;
    height: 22px;
    border: 0.5px solid var(--light-gray);
    border-radius: 40%;
    margin-right: 5px;
}

.open-post__members .divder {
    width: 1.5px;
    height: 13px;
    background-color: var(--semi-gray);
    margin: 0px 5px;
}

.open-post__members-status {
    color: hotpink;
}



.open-post__photo {
    position: relative;
    
}

.open-post__photo img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
}


.open-post__heart {
    font-size: 12px;
    color: white;
    background-color: black;
    opacity: 0.6;
    border-radius: 9px;
    padding: 5px 7px;

    position: absolute;
    bottom: 9px;
    right: 5px;
}

.open-post__heart span {
    margin-left: 2px;
}