

.user-component {
    justify-content: space-between;
}

.user-component, .user-component__column:first-child{ /*img와 text를 자식으로 갖는 div class="user-component__column"이 선택된다.*/
    display: flex;
    align-items: center; /*이미지와 text 가운데 정렬*/
}


/*big version : 70*70, medium version : 65*65, small version : 50 * 50*/
.user-component__avatar {
    width: 65px;
    height: 65px;
    border-radius: 40%;
    object-fit: cover;
    margin-right: 15px;
}

.user-component__title {
    font-weight: 600;
    font-size: 19px;
}
.user-component__title--not-bold {
    font-weight: 400;
    font-size: 18px;
}


.user-component__subtitle{
    margin-top: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;

}

.user-component__avatar--xl {
    width: 70px;
    height: 70px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
}



.user-component__column:last-child{
    color: var(--semi-gray);
    font-weight: 400;
}