<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Friends - Kokoa Clone</title>
  </head>
  <body>
    <!--1. 상태바 만들기-->
    <div class="status-bar">
      <div class="status-bar__column">
        <!-- BEM(Blcok Element Modifier) : 부모와 자식을 명시한 클래스 이름을 사용한다 -->
        <span>No Service</span>
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <i class="fa-solid fa-battery-full"></i>
        <i class="fa-solid fa-bolt"></i>
      </div>
    </div>

    <header class="screen-header">
      <h1 class="screen-header__title">Friends</h1>
      <div class="screen-header__icons">
        <span><i class="fa-solid fa-magnifying-glass fa-lg"></i></span>
        <span><i class="fa-solid fa-music fa-lg"></i></span>
        <span><i class="fa-solid fa-gear fa-lg"></i></span>
      </div>
    </header>

    <a id="friends-display-link" href="">
      <i class="fa-solid fa-circle-info" style="color: var(--light-gray)"></i>
      Friends' Names Display
      <i class="fa-solid fa-angle-right" style="color: var(--light-gray)"></i>
    </a>

    <main class="friends-screen">
      <div class="user-component">
        <div class="user-component__column">
          <img
            class="user-component__avatar user-component__avatar--xl"
            src="https://avatars.githubusercontent.com/u/105702023?v=4"
            alt="프로필 사진"
          />
          <div class="user-component__text">
            <h4 class="user-component__title">Do Hyeon</h4>
            <!-- <h6 class="user-component__subtitle">this text whatever</h6> -->
          </div>
        </div>
        <div class="user-component__column"></div>
      </div>

      <div class="friends-screen__channel">
        <div class="friends-screen__channel-header">
          <span>Channel</span>
          <i class="fa-solid fa-angle-up" style="color: var(--semi-gray)"></i>
        </div>

        <div class="user-component">
          <div class="user-component__column">
            <img
              class="user-component__avatar user-component__avatar--sm"
              src="../images/kakaochannel_edge.png"
              alt="프로필 사진"
            />
            <div class="user-component__text">
              <h4 class="user-component__title user-component__title--not-bold">
                Channel
              </h4>
            </div>
          </div>
          <div class="user-component__column">
            <span>2</span>
            <i
              class="fa-solid fa-angle-right"
              style="color: var(--semi-gray)"
            ></i>
          </div>
        </div>
      </div>
    </main>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__btn">
          <a class="nav__link" href="friends.html">
            <i class="fa-solid fa-user fa-2x"></i>
          </a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#">
            <span class="nav__notification">1</span>
            <i class="fa-regular fa-comment fa-2x"></i>
          </a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
          </a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#">
            <span class="nav__notification nav__dot"> </span>
            <!--nav_notification 클래스를 사용하여 스타일을 적용하고(코드 중복 작성 파히기) 새 클래서 dot을 부여하여 위치와 크기만 변경-->
            <i class="fa-solid fa-ellipsis fa-2x"></i>
          </a>
        </li>
      </ul>
    </nav>

    <script
      src="https://kit.fontawesome.com/afee348a73.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
